*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    width: 700px;
}
.content-reply{
    display: flex;
    justify-content: space-between;
    background: aquamarine;
}

