* {
    padding: 0;
    margin: 0;
}

#sync1 .item {
    background: #f8f8f8;
    text-align: center;
    height: 300px;
    color: #fff;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;

}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.homebanner {
    float: left;
    clear: right;
    width: 790px;
    height: 354px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
}

#sync2 {
    display: block;
    width: 100%;
    background: #fff;
    height: 55px;
}

#sync2 .item {
    display: table;
    width: 98%;
    vertical-align: middle;
    position: relative;
    background: #fff;
    color: black;
    text-align: center;
    cursor: pointer;
    height: 55px;
    font-size: 12px;
    padding: 0 1%;
}

#sync2 .item h3 {
    font-size: 12px;
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
    font-weight: unset;
}

.owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
}

.homebanner .owl-buttons {
    position: absolute;
    top: 38%;
    height: 0;
    width: 100%;
    display: none;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    line-height: 20px;
    box-sizing: unset;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    text-decoration: none;
}

.homebanner:hover .owl-buttons {
    display: block;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.homebanner .owl-prev {
    position: absolute;
    left: 10px;
    padding: 12px 0 0;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    width: 48px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
}

.homebanner .owl-next {
    position: absolute;
    right: 10px;
    padding: 12px 0 0;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    width: 48px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#sync2 .owl-item {
    height: 55px;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sync2 .owl-item:after {
    content: '';
    float: right;
    height: 30px;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 13px;
    right: 0;
}

#sync2 .synced .item h3 {
    font-weight: bold;
}

#sync2 .synced .item:before {
    content: '';
    display: block;
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff1616;
    
}

a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*pointer-events: none;*/
    -webkit-user-drag: none;
}
